body{
  font-family:'Montserrat';
  text-align: center;
}

h1,h2,h3{
  font-family:'Montserrat';
  font-weight:bolder;
  line-height: 1.5;
  font-size: 3rem;

}

/* Headings */
.features-headline,.pricing-headline{
  font-size:1.5rem;
}

.coloured-section{
  background-color:#ff4c68;
  color:#fff;
}
.white-section{
  background-color: #fff;
}

#title{
  text-align: left;
}

.container{
  padding: 3% 15% 4.5rem 15%;
}
.container-fluid{
  padding:7% 15%;
}
.download-btn{
  margin:5px;
}

.iphone-image{
   transform:rotate(25deg);
   width:60%;
   position:absolute;
   left: auto;
   bottom: auto;
   top: auto;
   width: 280px;
   height: 500px;
   margin-left: 70px;

}

#features{
  position:relative;
  z-index: 1;
}
/* navigation bar */

.navbar-brand{
  font-family:'Ubuntu',sans-serif;
  font-size:2.5rem;
  font-weight:bold;
}

.navbar{
  padding-bottom: 0 0 4.5rem 0;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size:1.2rem;
  font-family:'Montserrat-light';
}

.check-circle{
  position:relative;
  left:5px;
  color:#ef8172;
  margin-bottom: 1rem;

}
.check-circle:hover{
  color:#FF869E;
}
.paragraph{
  color:#8f8f8f;
}
.row{
  margin-top:40px;
}
#testimonials{
  background-color:#ef8172;
}
.testimonial-image{
  max-width: 15%;
  border-radius:100%;
  margin:20px;
  margin-left: 50px;
}
.testimonial-headline{
    font-size:2.8rem;
    color:white;
}

#press{
  background-color:#ef8172;
  padding-bottom: 3%;
}
.press-logo{
 width:15%;
 margin:20px 20px 50px;
}

#pricing{
  padding:100px;
}

.pricing-headline{
  color:black;
}

.cta-headline{
  font-size: 3rem;
  line-height: 1.5
  font-weight:bold;
}
.download-button{
  padding-top:20px;
}

#footer{
  background-color:white;
  padding:2% 15%;
}

.Social-icons{
  margin:20px 10px;
}


@media (max-width:1028px){

  #title{
    text-align:center;
  }
  .iphone-image{
    position:static;
    transform:rotate(0);
    margin-left:40px;
    margin-top:20px;
  }

}
@media (max-width:624px){
  .nav-item{
    text-align: left;
  }
}
